$display-heading-style-default: (
    default-styles: (
        font-family: $display-font-family,
        font-weight: 700,
        margin: 0,
    )
);

$display-heading-style-04: (
    default-breakpoint: (
        font-size: 1.75rem,
        line-height: 1.2,
    ),
    small-breakpoint: (
        font-size: 2.75rem,
    ),
);

$display-heading-style-03: (
    default-breakpoint: (
        font-size: 1.625rem,
        line-height: 1.3,
    ),
    medium-breakpoint: (
        font-size: 2.125rem,
        line-height: 1.3,
    ),
);

$display-heading-style-02: (
    default-breakpoint: (
        font-size: 1.25rem,
        line-height: 1.3,
    ),
    medium-breakpoint: (
        font-size: 1.5rem,
        line-height: 1.3,
    ),
);

$display-heading-style-01: (
    default-breakpoint: (
        font-size: 1rem,
        letter-spacing: 0.5px,
        line-height: 1.5,
    ),
    medium-breakpoint: (
        font-size: 1.125rem,
    ),
);

$display-heading-04: map-merge($display-heading-style-default, $display-heading-style-04);
$display-heading-03: map-merge($display-heading-style-default, $display-heading-style-03);
$display-heading-02: map-merge($display-heading-style-default, $display-heading-style-02);
$display-heading-01: map-merge($display-heading-style-default, $display-heading-style-01);

.display-heading-04 {
    @include heading($display-heading-04);
}

.display-heading-03 {
    @include heading($display-heading-03);
}

.display-heading-02 {
    @include heading($display-heading-02);
}

.display-heading-01 {
    @include heading($display-heading-01);
}
