/* breakpoints for map */
$breakpoints: (
    small-breakpoint: $small-breakpoint,
    medium-breakpoint: $medium-breakpoint
);

// Utility function for mixin heading

/* heading-type passes in the heading component */

/* loops through each map passed in and assigns heading-breakpoint to each key
(or breakpoint), assigns the value of the key (a nested map) to heading-values
(essentially creating a new map) */

/* if the key == default-style or default-size, print key map contents */

/* if heading-type has a key that matches the breakpoints, get the breakpoint */

/* Apply breakpoint to media query and write contents of $heading-values map */
@mixin heading($heading-type, $heading-breakpoints: $breakpoints) {
    @each $heading-breakpoint, $heading-values in $heading-type {
        @if $heading-breakpoint == default-styles or $heading-breakpoint == default-breakpoint {
            @include make-heading($heading-values);
        }

        @else {
            @if map-has-key($heading-breakpoints, $heading-breakpoint) {
                $heading-breakpoint: map-get($heading-breakpoints, $heading-breakpoint);

                @media screen and (min-width: $heading-breakpoint) {
                    @include make-heading($heading-values);
                }
            }
        }
    }
}

/* Take $heading-values map inputted and get values */
@mixin make-heading($heading-values) {
    font-family: map-get($heading-values, font-family);
    font-size: map-get($heading-values, font-size);
    font-weight: map-get($heading-values, font-weight);
    letter-spacing: map-get($heading-values, letter-spacing);
    line-height: map-get($heading-values, line-height);
    margin: map-get($heading-values, margin);
    text-transform: map-get($heading-values, text-transform);
}
