$heading-style-default: (
    default-styles: (
        font-weight: 700,
        margin: 0,
    )
);

$heading-style-03: (
    default-breakpoint: (
        font-size: 2.375rem,
        line-height: 1.2,
    ),
    medium-breakpoint: (
        font-size: 3rem,
        line-height: 1.2,
    ),
);

$heading-style-02: (
    default-breakpoint: (
        font-size: 1.875rem,
        line-height: 1.3,
    ),
    medium-breakpoint: (
        font-size: 2.375rem,
        line-height: 1.2,
    ),
);

$heading-style-01: (
    default-breakpoint: (
        font-size: 1.25rem,
        line-height: 1.3,
    ),
    medium-breakpoint: (
        font-size: 1.5rem,
        line-height: 1.3,
    ),
);

$heading-03: map-merge($heading-style-default, $heading-style-03);
$heading-02: map-merge($heading-style-default, $heading-style-02);
$heading-01: map-merge($heading-style-default, $heading-style-01);

.heading-03 {
    @include heading($heading-03);
    margin-bottom: 1.5rem;
}

.heading-02 {
    @include heading($heading-02);
    margin-bottom: 1rem;
}

.heading-01 {
    @include heading($heading-01);
    margin-bottom: 1rem;
}
