$uppercase-heading-style-default: (
    default-styles: (
        font-weight: 700,
        letter-spacing: 0.5px,
        margin: 0,
        text-transform: uppercase,
    )
);

$uppercase-heading-style-03: (
    default-breakpoint: (
        font-size: 1.5rem,
        font-weight: 800,
        line-height: 1.2,
    ),
    medium-breakpoint: (
        font-size: 1.75rem,
        line-height: 1.2,
    ),
);

$uppercase-heading-style-02: (
    default-breakpoint: (
        font-size: 1.25rem,
        line-height: 1.3,
    ),
);

$uppercase-heading-style-01: (
    default-breakpoint: (
        font-size: 1rem,
        line-height: 1.3,
    ),
);

$uppercase-heading-03: map-merge($uppercase-heading-style-default, $uppercase-heading-style-03);
$uppercase-heading-02: map-merge($uppercase-heading-style-default, $uppercase-heading-style-02);
$uppercase-heading-01: map-merge($uppercase-heading-style-default, $uppercase-heading-style-01);

.uppercase-heading-03 {
    @include heading($uppercase-heading-03);
    margin-bottom: 1rem;
}

.uppercase-heading-02 {
    @include heading($uppercase-heading-02);
    margin-bottom: 1rem;
}

.uppercase-heading-01 {
    @include heading($uppercase-heading-01);
    margin-bottom: 0.75rem;
}
