@import '../base/base';
@import '../vendor/vendor';

.site-alert {
    background: $dive-grey-2;
    padding: 1.125rem 0;
    &--loud {
        background: $primary-color;
    }
    &__message {
        color: $dive-black;
        line-height: 1.4;
        padding-right: 50px;
        position: relative;
        a {
            color: $dive-black;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &--inverse {
            color: #fff;
            a {
                color: #fff;
            }
        }
    }
    &__close {
        cursor: pointer;
        line-height: 0;
        padding: 5px;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: all 0.15s;
        transition: all 0.15s;
        width: 24px;
        &:hover {
            opacity: 0.7;
        }
    }
}
