@import '../base/base';

/****** buttons ********/

/***** basic button styling ******/
%button-base {
    -webkit-appearance: none;
    background-color: $primary-color; // default button color
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
    margin: 0;
    min-width: 160px;
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.3s cubic-bezier(0.2, 0.6, 0.2, 1), background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    &:hover {
        background-color: lighten($primary-color, 5%);
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.18), 0 1px 7px 0 rgba(0, 0, 0, 0.13), 0 3px 1px -1px rgba(0, 0, 0, 0.23);
        color: #fff;
        text-decoration: none;
    }
}

.button {
    @extend %button-base;
    &--full-width {
        width: 100%;
    }
    &--loud {
        background-color: $primary-color;
        &:hover {
            background-color: lighten($primary-color, 10%);
        }
    }
    &--medium {
        background-color: $dive-black;
        &:hover {
            background-color: lighten($dive-black, 10%);
        }
    }
    &--soft {
        background-color: $dive-grey-2;
        color: $dive-black;
        &:hover {
            background-color: lighten($dive-grey-2, 2%);
            color: $dive-black;
        }
    }
    &--disabled {
        background-color: lighten($dive-grey-2, 2%);
        box-shadow: none;
        color: $dive-grey-3;
        cursor: default;
        &:hover { // override other hover styles
            box-shadow: none;
            color: $dive-grey-3;
        }
    }
    &__icon {
        height: 16px;
        vertical-align: top;
        width: 16px;
    }
    &__icon--small {
        height: 14px;
        width: 14px;
    }
    &__icon--left {
        margin-right: $xxs-space;
    }
    &__icon--right {
        margin-left: $xxs-space;
    }
}
