@import '../base/base';

/****** call-out-link ********/

.call-out-link {
    color: $primary-color;
    font-weight: 500;
    text-decoration: none;
    &:hover {
        color: $primary-color;
        text-decoration: underline;
    }
    &__arrow {
        font-size: 0.875em; // ➔ arrow size is relative to parent wrapper
        font-weight: 300;
    }
}
