@import '../base/base';

/****** help text ********/

.help-text {
    color: $dive-grey-4;
    font-size: 0.875rem;
    font-style: italic;
    a {
        color: $dive-grey-4;
        text-decoration: underline;
    }
}

@media screen and (min-width: $small-breakpoint) {
    .help-text {
        font-size: 1rem;
        &--small {
            font-size: 0.875rem;
        }
    }
}
