@import '../base/base';

/****** labels ******/

.label {
    // REGULAR LABELS
    color: $dive-grey-5; // TO DO: delete when ads are cleaned up
    font-size: 0.875rem;
    overflow-wrap: break-word;
    text-decoration: none;
    text-transform: uppercase;
    word-wrap: break-word;
    &--loud {
        color: $primary-color;
        font-weight: 700;
    }
    &--medium {
        color: $dive-black;
        font-weight: 700;
    }
    &--soft {
        color: $dive-grey-5;
    }
    &--sponsored {
        color: $sponsored-color;
        font-weight: 700;
    }
    &__icon {
        height: 10px;
        margin-right: $xxs-space;
        vertical-align: baseline;
    }
    // TO DO: Remove these labels when ads are cleaned up
    &.primary {
        color: $primary-color;
        font-weight: 700;
        text-decoration: none;
    }
    &.strong {
        color: $dive-black;
        display: block;
        font-weight: 700;
    }
    &.secondary {
        color: $dive-grey-4;
        text-transform: none;
    }
    &.sponsored {
        color: $sponsored-color;
        font-weight: 700;
    }
}

@media (min-width: $small-breakpoint) {
    .label {
        &__icon {
            height: 12px;
        }
    }
}

.secondary-label {
    color: $dive-grey-4;
    font-size: 0.875rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    &--loud {
        color: $primary-color;
    }
    a {
        color: inherit;
    }
}
