@import '../base/base';

// IN-ARTICLE LABELS
// these are the labels that appear when you click through to an article
.post-label {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    overflow-wrap: break-word;
    padding: 0.125rem 0.5rem;
    text-transform: uppercase;
    word-wrap: break-word;
    &--loud {
        background-color: $primary-color;
    }
    &--medium {
        background-color: $dive-black;
    }
    &--sponsored {
        background-color: $sponsored-color;
    }
    &__icon {
        height: 10px;
        margin-right: $xxs-space;
        vertical-align: unset;
    }
}

@media screen and (min-width: $small-breakpoint) {
    .post-label {
        font-size: 1rem;
        &__icon {
            height: 12px;
        }
    }
}
