import cx from 'classnames';
import React from 'react';
import PropTypes from 'prop-types';

import '../scss/components/{{componentName}}.scss';

const {{componentName}} = (props) => {
  const {

  } = props;

  return (
    <div></div>
  );
};

{{componentName}}.propTypes = {

};

{{componentName}}.defaultProps = {

};

export default {{componentName}};
