import React from 'react';

import {{componentName}} from '../src/components/{{componentName}}';

import '../src/scss/stories/stories.scss';

export default {
  component: {{componentName}},
  title: '{{componentName}}',
};
