/*
    This file defines the font family 'Proxima Nova'. It references files kept in
    media/fonts/proxima-nova . If compiled to css files that live in
    static/css/FILENAME.css the relative paths work.
 */

/**** Light, weight 300 **/
// normal
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-Light.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Light.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Light.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Light.ttf') format('truetype');
}
// italic
@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 300;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-LightIt.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-LightIt.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-LightIt.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-LightIt.ttf') format('truetype');
}


/*** Regular, weight 400 **/
// normal
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Regular.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Regular.ttf') format('truetype');
}
// italic
@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 400;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-RegularIt.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-RegularIt.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-RegularIt.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-RegularIt.ttf') format('truetype');
}


/**** Medium, weight 500 **/
// normal
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-Medium.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Medium.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Medium.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Medium.ttf') format('truetype');
}
// italic
@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 500;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-MediumIt.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-MediumIt.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-MediumIt.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-MediumIt.ttf') format('truetype');
}


/**** Bold, weight 700 **/
// normal
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-Bold.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Bold.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Bold.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Bold.ttf') format('truetype');
}
// italic
@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 700;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-BoldIt.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-BoldIt.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-BoldIt.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-BoldIt.ttf') format('truetype');
}


/**** Extra Bold, weight 800 **/
// normal
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-Extrabld.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Extrabld.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Extrabld.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Extrabld.ttf') format('truetype');
}
// italic
@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 800;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-ExtrabldIt.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-ExtrabldIt.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-ExtrabldIt.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-ExtrabldIt.ttf') format('truetype');
}


/**** Black, weight 900 **/
// normal
@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 900;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-Black.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Black.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Black.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-Black.ttf') format('truetype');
}
// italic
@font-face {
    font-family: 'Proxima Nova';
    font-style: italic;
    font-weight: 900;
    src:
        url('../../assets/fonts/proxima-nova/ProximaNova-BlackIt.woff2') format('woff2'),
        url('../../assets/fonts/proxima-nova/ProximaNova-BlackIt.woff2') format('woff'),
        url('../../assets/fonts/proxima-nova/ProximaNova-BlackIt.eot') format('embedded-opentype'),
        url('../../assets/fonts/proxima-nova/ProximaNova-BlackIt.ttf') format('truetype');
}
