body {
    font-family: $standard-font-family;
}

ol, ul {
    margin: 0 0 1.25rem 1.25rem;
    padding-left: 0;
    li {
        margin-bottom: 0.675rem;
    }
}

ul {
    &.list-no-bullets {
        margin-left: 0;
        li {
            list-style-type: none;
        }
    }
}

a {
    color: $dive-black;
    cursor: pointer;
    &:hover {
        color: $dive-black;
        text-decoration: underline;
    }
}

@media screen and (min-width: $small-breakpoint) {
    p, li {
        font-size: 1.125rem;
    }
}


// primary link (red underlined)
.primary-link {
    color: $primary-color;
    text-decoration: underline;
    &:hover {
        color: $primary-color;
    }
}

.editor-note {
    margin-bottom: 2.5rem;
    p {
        font-family: $body-font-family;
        font-style: italic;
    }
}
